/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ED6A45;
  --ifm-color-primary-dark: #E8471C;
  --ifm-color-primary-darker: #C33A13;
  --ifm-color-primary-darkest: #82260D;
  --ifm-color-primary-light: #F7A790;
  --ifm-color-primary-lighter: #FEDAD0;
  --ifm-color-primary-lightest: #FFEFE8;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
